!!!
%html{:lang => "en"}
  %head
    %title Томашевський
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900", :rel => "stylesheet"}/
    %link{:href => "stylesheets/theme1/open-iconic-bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "stylesheets/theme1/animate.css", :rel => "stylesheet"}/
    %link{:href => "stylesheets/theme1/owl.carousel.min.css", :rel => "stylesheet"}/
    %link{:href => "stylesheets/theme1/owl.theme.default.min.css", :rel => "stylesheet"}/
    %link{:href => "stylesheets/theme1/magnific-popup.css", :rel => "stylesheet"}/
    %link{:href => "stylesheets/theme1/aos.css", :rel => "stylesheet"}/
    %link{:href => "stylesheets/theme1/ionicons.min.css", :rel => "stylesheet"}/
    %link{:href => "stylesheets/theme1/flaticon.css", :rel => "stylesheet"}/
    %link{:href => "stylesheets/theme1/icomoon.css", :rel => "stylesheet"}/
    %link{:href => "stylesheets/theme1/style.css", :rel => "stylesheet"}/
    :css
      .scrollax-performance, .scrollax-performance *, .scrollax-performance *:before, .scrollax-performance *:after { pointer-events: none !important; -webkit-animation-play-state: paused !important; animation-play-state: paused !important; };
  %body{"data-aos-delay" => "0", "data-aos-duration" => "800", "data-aos-easing" => "slide", "data-offset" => "300", "data-spy" => "scroll", "data-target" => ".site-navbar-target"}
    %nav#ftco-navbar.navbar.navbar-expand-lg.navbar-dark.ftco_navbar.ftco-navbar-light.site-navbar-target
      .container
        %a.navbar-brand{:href => "/"} НТУ ХПІ
        %button.navbar-toggler.js-fh5co-nav-toggle.fh5co-nav-toggle{"aria-controls" => "ftco-nav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#ftco-nav", "data-toggle" => "collapse", :type => "button"}
          %span.oi.oi-menu
          Menu
        #ftco-nav.collapse.navbar-collapse
          %ul.navbar-nav.nav.ml-auto
            %li.nav-item
              %a.nav-link{:href => "#bio"}
                %span Біографія
            %li.nav-item
              %a.nav-link{:href => "#resume-section"}
                %span Програма
            %li.nav-item
              %a.nav-link{:href => "#news"}
                %span Новини
            %li.nav-item
              %a.nav-link{:href => "#contact-section"}
                %span Питання та звʼязок
    %section#bio.ftco-about.img.ftco-section.ftco-no-pb
      .container
        .row.d-flex
          .col-md-6.col-lg-5.d-flex
            .img-about.img.d-flex.align-items-stretch
              .overlay
              .img.d-flex.align-self-stretch.align-items-center{:style => "background-image:url(images/no-bg-tomashevskiy.png);"}
          .col-md-6.col-lg-7.pl-lg-5.pb-5
            .row.justify-content-start.pb-3
              .col-md-12.heading-section.ftco-animate
                %h1.big Біографія
                %h2.mb-4 Томашевський Роман Сергійович
                %p Кандидат на посаду ректора НТУ ХПІ.
                %p Доктор технічних наук, професор кафедри промислової та біомедичної електроніки НТУ «ХПІ», директор Інституту енергетики, електроніки та електромеханіки
                %p Автор понад 70 наукових публікацій, учасник міжнародних конференцій. Лауреат премії Верховної Ради України «Талановитий молодий вчений», відзначений подякою Міністерства освіти і науки України «За внесок у розвиток вищої освіти».
                %p Брав участь у міжнародних наукових та освітніх програмах, включаючи Open World (США), Erasmus+ (Німеччина) та Slush (Фінляндія). Є засновником стартапів у сфері біомедичної електроніки та технологій знезараження води.
                %p Наукові інтереси: обробка біомедичних сигналів, озонові та УФ-технології, дослідження функції зовнішнього дихання, відновлювана енергетика.
            .counter-wrap.ftco-animate.d-flex.mt-md-3
              .text
                %p
                  %a.btn.btn-primary.py-3.px-3{:href => "#"} Передвиборча програма
    %section#resume-section.ftco-section.ftco-no-pb
      .container
        .row.justify-content-center.pb-5
          .col-md-10.heading-section.text-center.ftco-animate
            %h1.big.big-2 Програма
            %h2.mb-4 Програма розвитку
            %p Нижче представлена програма розвитку
        .row
          .col-md-6
            .resume-wrap.ftco-animate
              %span.date Ключовий момент 1
              %h2 Тут може бути невелике пояснення
              %p.mt-4 Опис. Більше тексту, що розкриває Ключовий момент
            .resume-wrap.ftco-animate
              %span.date Ключовий момент 2
              %h2 Тут може бути невелике пояснення
              %p.mt-4 Опис. Більше тексту, що розкриває Ключовий момент. Опис. Більше тексту, що розкриває Ключовий момент.
              Опис. Більше тексту, що розкриває Ключовий момент
            .resume-wrap.ftco-animate
              %span.date Ключовий момент 3
              %h2 Тут може бути невелике пояснення
              
              %p.mt-4 Опис. Більше тексту, що розкриває Ключовий момент. Опис. Більше тексту, що розкриває Ключовий момент.
              Опис.
          .col-md-6
            .resume-wrap.ftco-animate
              %span.date Ключовий момент 4
              %h2 Тут може бути невелике пояснення
              
              %p.mt-4 Опис. Більше тексту, що розкриває Ключовий момент. Опис. Більше тексту, що розкриває Ключовий момент.
              Опис.
            .resume-wrap.ftco-animate
              %span.date Ключовий момент 5
              %h2 Тут може бути невелике пояснення
              
              %p.mt-4 Опис. Більше тексту, що розкриває Ключовий момент. Опис. Більше тексту, що розкриває Ключовий момент.
              Опис.
            .resume-wrap.ftco-animate
              %span.date Ключовий момент 6
              %h2 Тут може бути невелике пояснення
              
              %p.mt-4 Опис. Більше тексту, що розкриває Ключовий момент. Опис. Більше тексту, що розкриває Ключовий момент.
              Опис.
        .row.justify-content-center.mt-5
          .col-md-6.text-center.ftco-animate
            %p
              %a.btn.btn-primary.py-4.px-5{:href => "#"} Скачати програму
    %section#news.ftco-section
      .container
        .row.justify-content-center.mb-5.pb-5
          .col-md-7.heading-section.text-center.ftco-animate
            %h1.big.big-2 Новини
            %h2.mb-4 Новини
            %p Так можуть виглядати новини. Клік веде на сторінку новини
        .row.d-flex
          .col-md-4.d-flex.ftco-animate
            .blog-entry.justify-content-end
              %a.block-20{:href => "theme1/news/1", :style => "background-image: url('images/theme1/image_1.jpg');"}
              .text.mt-3.float-right.d-block
                .d-flex.align-items-center.mb-3.meta
                  %p.mb-0
                    %span.mr-2 21 червня, 2025
                %h3.heading
                  %a{:href => "theme1/news/1"} Заголовок Новини 1
                %p Текст новини має бути хоча б одне речення щоб лейаут не зміщувався
          .col-md-4.d-flex.ftco-animate
            .blog-entry.justify-content-end
              %a.block-20{:href => "theme1/news/1", :style => "background-image: url('images/theme1/image_2.jpg');"}
              .text.mt-3.float-right.d-block
                .d-flex.align-items-center.mb-3.meta
                  %p.mb-0
                    %span.mr-2 21 червня, 2025
                    
                %h3.heading
                  %a{:href => "theme1/news/1"} Заголовок Новини 2
                %p Текст новини має бути хоча б одне речення щоб лейаут не зміщувався
          .col-md-4.d-flex.ftco-animate
            .blog-entry
              %a.block-20{:href => "theme1/news/1", :style => "background-image: url('images/theme1/image_3.jpg');"}
              .text.mt-3.float-right.d-block
                .d-flex.align-items-center.mb-3.meta
                  %p.mb-0
                    %span.mr-2 21 червня, 2025
                    
                %h3.heading
                  %a{:href => "theme1/news/1"} Why Lead Generation is Key for Business Growth
                %p A small river named Duden flows by their place and supplies it with the necessary regelialia.
    %section#contact-section.ftco-section.contact-section.ftco-no-pb
      .container
        .row.justify-content-center.mb-5
          .col-md-7.heading-section.text-center.ftco-animate
            %h1.big.big-2 Звʼязок
            %h2.mb-4 Звʼязок
            %p Звʼязок
        .row.d-flex.contact-info.mb-5
          .col-md-6.col-lg-3.d-flex.ftco-animate
            .align-self-stretch.box.p-4.text-center
              .icon.d-flex.align-items-center.justify-content-center
                %span.icon-map-signs
              %h3.mb-4 Приймальня НТУ ХПІ
              %p Адреса приймальні
          .col-md-6.col-lg-3.d-flex.ftco-animate
            .align-self-stretch.box.p-4.text-center
              .icon.d-flex.align-items-center.justify-content-center
                %span.icon-phone2
              %h3.mb-4 Телефон
              %p
                %a{:href => "tel://1234567920"} + 1235 2355 98
          .col-md-6.col-lg-3.d-flex.ftco-animate
            .align-self-stretch.box.p-4.text-center
              .icon.d-flex.align-items-center.justify-content-center
                %span.icon-paper-plane
              %h3.mb-4 Електрона пошта
              %p
                %a{:href => "mailto:info@yoursite.com"} info@yoursite.com
          .col-md-6.col-lg-3.d-flex.ftco-animate
            .align-self-stretch.box.p-4.text-center
              .icon.d-flex.align-items-center.justify-content-center
                %span.icon-globe
              %h3.mb-4 Вебсайт
              %p
                %a{:href => "#"} yoursite.com
        .row.no-gutters.block-9
          .col-md-6.order-md-last.d-flex
            %form.bg-light.p-4.p-md-5.contact-form{:action => "#"}
              .form-group
                %input.form-control{:placeholder => "Імʼя", :type => "text"}/
              .form-group
                %input.form-control{:placeholder => "Електрона адреса", :type => "text"}/
              .form-group
                %textarea.form-control{:cols => "30", :id => "", :name => "", :placeholder => "Питання", :rows => "7"}
              .form-group
                %input.btn.btn-primary.py-3.px-5{:type => "submit", :value => "Відправити питання"}/
          .col-md-6.d-flex
            .img{:style => "background-image: url(images/no-bg-tomashevskiy.png);"}
    %footer.ftco-footer.ftco-section
      .container
        .row
          .col-md-12.text-center
            %p
              / Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
              Copyright ©
              :javascript
                document.write(new Date().getFullYear());
              %span{ style: 'display:none' }
                2025 All rights reserved | This template is made with
                %i.icon-heart.color-danger{"aria-hidden" => "true"}
                by
                %a{:href => "https://colorlib.com", :target => "_blank"} Colorlib
                / Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
    / loader
    #ftco-loader.fullscreen
      %svg.circular{:height => "48px", :width => "48px"}
        %circle.path-bg{:cx => "24", :cy => "24", :fill => "none", :r => "22", :stroke => "#eeeeee", "stroke-width" => "4"}
        %circle.path{:cx => "24", :cy => "24", :fill => "none", :r => "22", :stroke => "#F96D00", "stroke-miterlimit" => "10", "stroke-width" => "4"}
    %script{:src => "javascripts/theme1/jquery.min.js"}
    %script{:src => "javascripts/theme1/jquery-migrate-3.0.1.min.js"}
    %script{:src => "javascripts/theme1/popper.min.js"}
    %script{:src => "javascripts/theme1/bootstrap.min.js"}
    %script{:src => "javascripts/theme1/jquery.easing.1.3.js"}
    %script{:src => "javascripts/theme1/jquery.waypoints.min.js"}
    %script{:src => "javascripts/theme1/jquery.stellar.min.js"}
    %script{:src => "javascripts/theme1/owl.carousel.min.js"}
    %script{:src => "javascripts/theme1/jquery.magnific-popup.min.js"}
    %script{:src => "javascripts/theme1/aos.js"}
    %script{:src => "javascripts/theme1/jquery.animateNumber.min.js"}
    %script{:src => "javascripts/theme1/scrollax.min.js"}
    %script{:src => "javascripts/theme1/main.js"}
